{{#> baseAdmin }}
        <div class="container">
            <div class="box-nav d-flex justify-between" style="margin: 20px">
                <a href="/createProduct" class="border-shadow">
                    <span class="btn btn-light">New Product</span>
                </a>
            </div>
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {{#each products}}
                    <tbody>
                        <tr>
                            <th>{{name}}</th>
                            <th>{{price}}</th>
                            <th>{{description}}</th>
                            <th>{{quantity}}</th>
                            <th><img src="img/{{image }}" width="100" height="100" alt=""></th>
                            <th>
                                <a href="/updateProduct/{{_id}}" class="btn border-shadow update">
                                <i class="bi bi-pencil-square"></i></a>
                                <a href="/deleteProduct/{{_id}}" class="btn border-shadow update">
                                <i class="bi bi-trash"></i></a>
                            </th>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </form>
        </div>
{{/baseAdmin}}
