<body>
    {{#> base}}
    <section id="page-header">
        <h2>#stayfresh</h2>
        <p>Save more with coupons & up to 70% off</p>
    </section>

    <section id="product1" class="section1">
        
        <div class="pro-container">
            {{#each products}}
            <form method = "POST">
            <div class="pro" >
                <a href="/detail/{{_id}}"> 
                    <img class="f" src="/img/{{image}}" alt="">
                </a>
                <div class="des">
                    <span>Category name</span>
                    <h5>
                        <input type="hidden" name="name" value="{{name }}">{{name}}</input>    
                    </h5>
                    <h4>
                        <input type="hidden" name="price" value="{{price}}">{{price}}$</input>  
                    </h4>  
                </div>
                <button type="submit">
                <a href=""><i class="fas fa-cart-plus cart"></i></a>
                </button>
            </div>     
            </form>   
            {{/each}}
        </div>
        {{!-- </form> --}}
    </section>
    {{/base }}
</body>
</html>