<body style="background-color: #fff;">
  {{#> base }}
  <div class="bodyContainer">
    <h1 class="container col-md-12 text-center mt-6 mb-6">Cart</h1>
    <div class="container col-md-12 text-center mt-6 mb-6 d-flex flex-column justify-content-center aligt-item-center">
      <table class="table table-bordered" id = "tblTable">
        <table class="table align-middle">
          <thead class="table-secondary">
            <tr class = "tblCart">
              <th>Product name</th>
              <th>image</th>
              <th>Quantity</th>
              <th>Product Price</th>
              <th>Total Price</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each data}}
            <tr class = "tblCart">
              <td>{{this.name}}</td>
              <td> <img src="/img/{{this.image }}" width="100" height="100" alt=""> </td>
              <td>{{this.quantity}}</td>
              <td>{{this.price }}</td>
              {{#if isRed}}
              <td style="color: #ff0000">
                {{else}}
              <td>
                {{/if}}{{total_price}}$</td>
              <td>
                  <button class = "btnEdit">
                    <a href = "/cart/edit/{{_id }}" >
                      <i class="fa-solid fa-pen" style="margin-right: 20px"></i>
                  </a>
                  </button>
                <button class="btnEdit">
                  <a href="/cart/delete/{{_id}}">
                    <i class="fa-solid fa-trash"></i>
                  </a>
                </button>
              </td>
            </tr>
            {{/each}}
          </tbody>
          <tfooter>
            <tr class = "tblCart">
              <th>Total</th>
              <td colspan="3"></td>
              <td>{{total}}$</td>
              <td></td>
            </tr>
          </tfooter>
        </table>
      </table>
    </div>

    <div class="btnPay">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Pay
      </button>
    </div>
  </div>

  {{/ base }}
</body>

 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form method = "POST">
            <div class="modal-content">
            <diV class="modal-header">
                Add info for ship
            </diV>
            <form method = "POST" enctype="multiform/data" class = "cartForm">
            <div class = "modal-body">
              {{#each data }}
                {{/each }}
                <input type = "text" class ="form-control" value = "{{session.name }}" name = "name">
                <input type="text" class ="form-control" value = "address" name = "address">
                <input type="text" class ="form-control" value = "{{session.phone}}" name = "phone">
            </div>
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.href='http://localhost:3333/cart'">Close</button>
              <button type="submit" class="btn btn-primary"> 
                {{!-- <a href= "/cart/ship" style ="text-decoration: none;color:#fff"> --}}
                  Save changes
                {{!-- </a> --}}
              </button>
            </div>
            
      </div>
    </div>

</html>