{{#> base }}
<div class="productsContainer">
    {{#each data}}
    <form method = "POST" enctype="multiform/data" class = "detailForm">
    <img src="/img/{{image}}">
        <input type = "hidden" name="filename" value = "/img/{{image }}"></input>
    </img>
    <div class="productInfo">
        <p>
            <input type="hidden" name="name" value="{{name }}">Name : {{name}}</input>  
        </p>
        <p>
            <input type="hidden" name="price" value="{{price}}">Price : {{price}}$</input> 
        </p>
        <P>Description : {{description}}</p>
        <p> quantity left: {{quantity }}</p>
        <div class="quantity">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" min="1" max="" required="true">
        </div>
        <button type="submit" class = "btn btn-primary">Add to cart</button>
    </div>
    </form>
    {{/each}}
</div>
    {{/ base }}